<div class="container">
  <div class="field">
    <%= f.label :strain_id, "Seleccine una cepa" %>
    <%= f.collection_select( :strain_id,  @strains, :id, :name)%>
  </div>

  <div class="field">
    <%= f.label :portion, "Participación en ensamblaje" %>
    <%= f.number_field :portion %>
  </div>
  <br>
</div>